<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.matthewsgalaxy.ataglance">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat"
        android:icon="@mipmap/weatherico"
        android:label="AtAGlance"
        android:roundIcon="@mipmap/weatherico"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        tools:targetApi="m">

        <activity
            android:exported="true"
            android:name="app.matthewsgalaxy.ataglance.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AtAGlance.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>